<div class="container">
  <div class="row">
    <div class="px-3 mx-auto">
      <h1 class="text-center text-about-title">会社</h1>

      <br></br>
      <main class="text-center text-about">
        <p>ながのCAKEは全国発送可能なケーキ屋さんです。</p>
        <p>お子様からお年寄りの方までお召し上がりいただけるよう、</p>
        <p>様々なバリエーションをご用意しております。</p>
        <p>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
        <p>ぜひご注文ください。</p>
      
      </main>
    </div>
  </div>
</div>