<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>ジャンル編集</h2>
      <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
      <div class ="form-group">
        <label for="genre_name">ジャンル名</label>
          <td><%= f.text_field :name %></td>
          <td><%= f.submit "編集する", class: "btn btn-default btn-lg btn-info"%>
          <td><%#= link_to "編集する", admin_genres_path(@genre.id), class: "btn btn-default btn-lg btn-info" %></td>
        </div>
      <% end %>
    </div>
  </div>
</div>

